<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Signup{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lemon" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

</head>
<body>
<link rel="stylesheet" type="text/css" href="{% static 'Home/welcome.css' %}" />
<div class="container">
    <div class="accheading">
        <h3>Log in to Cardboard</h3>
    </div>
    <form  action=" " method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'Home/form.template.html' %}
        <div class="form-group">
            <div class="subbutton">
                <button type="submit" class="btn btn-success">Log in</button>
            </div>
        </div>
    </form>
    <div class="haveacc">
        <h4>Don’t have an account?<a href="{% url 'Home:signup' %}">Create a Cardboard account</a> </h4>
    </div>
</div>
</body>

