    <script type="text/javascript">


                $(document).ready(function(){
                $("#form{{ x.pk }}").hide();
                $(document).on('click',".hislink{{ x.pk }}",function(e){
                $(".hislink{{ x.pk }}").hide();
                $("#form{{ x.pk }}").show();
                $('#highlightt{{ x.pk }}').focus().val($('#highlightt{{ x.pk }}').val());

                });

                });



                $(document).ready(function(){
                $("#pass{{ x.pk }}").hide();
                $(document).on('click',".mylink{{ x.pk }}",function(e){
                $(".mylink{{ x.pk }}").hide();
                $("#pass{{ x.pk }}").show();
                $('#highlight{{ x.pk }}').focus().val($('#highlight{{ x.pk }}').val());

                });

                });



                $(document).ready(function(){
                $(document).on('focusout',"#pass{{ x.pk }}",function(e){
                var $elem = $(this);
                setTimeout(function () {
                if (!$elem.find(':focus').length) {
                $('#pass{{ x.pk }}').hide();
                $('.mylink{{ x.pk }}').show();
                }
                }, 0);
                });
                });


                $(document).ready(function(){
                $(document).on('click',"#close",function(e){
                $(".mylink").show();
                $("#pass").hide();
                });
                });


                $(document).ready(function(){
                document.getElementById("upload{{ x.id }}").onchange = function () {
                document.getElementById("uploadFile{{ x.id }}").value = this.value.split(/(\\|\/)/g).pop();
                    };
                });

                $(document).ready(function(){
                document.getElementById("upload1{{ x.id }}").onchange = function () {
                document.getElementById("uploadFile1{{ x.id }}").value = this.value.split(/(\\|\/)/g).pop();
                    };
                });


            $(document).ready(function() {
            $(document).on('submit','#pass{{ x.pk }}',function(e){
            e.preventDefault();
                $('#pass{{ x.pk }}').hide();
                alert("Continue?{{ x.id }}");
            $.ajax({
                type:"post",
                url:$(this).attr("href"),
                data:{
                    desc:$('#highlight{{ x.pk }}').val(),
                    cid:$('#card_id{{ x.id }}').val(),
                    did:$('#data_id{{ x.id }}').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                success: function(data) {

                    $('#about-co{{ x.id }}').html(data);
                    alert("Good");
                    $('#pass{{ x.pk }}').hide();
                    $('.mylink{{ x.pk }}').show();

                    },
                error:function(exception){alert('Exception:'+exception);}

            });
            e.preventDefault();
        });
    });


            $(document).ready(function () {
               $(document).on('submit','#add_check_ajax{{ x.pk }}',function (e) {
                   e.preventDefault();
                   alert("continue?{{ x.pk }}");
                   $.ajax({
                       type:"post",
                       url:$(this).attr("href"),
                       data:{
                          titlebox:$('#title_box_list{{ x.pk }}').val(),
                          card_id:$('#card_id_list{{ x.pk }}').val(),
                          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                       },
                        success: function(data) {
                            $('#whole_checklist{{ x.pk }}').html(data);
                            alert("Done checklist");


                       },
                       error:function(exception){alert('Exception:'+exception);}

                   });
                   e.preventDefault();
               });
            });



            $(document).ready(function() {
            $(document).on('submit','#post-form{{ x.id }}',function(e){
                e.preventDefault();
                alert("Continue?{{ x.id }}");

            var formData = new FormData($(this).get(0));

            $.ajax({
                type:'POST',
                url:$(this).attr("href"),
                data:formData,
                cache:false,
                contentType: false,
                processData: false,
                success:function(data){
                    $('#data_all{{ x.id }}').html(data);
                    $('#comment{{ x.id }}').val("");
                    $('#upload{{ x.id }}').val("");
                    $('#upload1{{ x.id }}').val("");
                    $('#uploadFile{{ x.id }}').val("");
                    $('#uploadFile1{{ x.id }}').val("");
                    alert("DoneFile");
                },
                error: function(data){
                    console.log("error");
                    console.log(data);
                }
            });
            e.preventDefault();
        });
    });


    </script>

