.cardboard
{
    display: inline-block;
    width: 20em;
    height: auto;
    border-radius: 2%;
    background-color: #E6E6FA;
    margin: 1%;
    z-index: -50;
    padding: 0.3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    white-space:nowrap;
    vertical-align: top;
}

.list_title
{
    color: #666666;
    font-size: 20px;
}

.well
{
    height: 3.5em;
    background-color: white;
    margin-bottom: 2px;
    border-radius: 2%;
    box-shadow: #666666;
    text-align: left;
}