{% load staticfiles %}
    <div id="chat-body" class="panel panel-default" style=" width:25em; float:right; margin-top: -630px; z-index: 100;">
        <div class="panel-heading" style="font-size: 1.5em; text-align: right;">Chat Box</div>
        <div id="msg-list-div" class="panel-body" style="overflow-y: scroll; height: 550px;">
            <ul id="msg-list" class="list-group">
                {% for obj in chat %}
                    {% if obj.user == request.user %}
                        <li class="text-right list-group-item" style="border-style: none; padding: 0;"><div class="alert alert-success">{{ obj.message }}</div></li>
                    {% else %}
                        <li class="text-left list-group-item" style="border-style: none; padding: 0;"><div class="alert alert-info">{{ obj.message }}</div></li>
                    {% endif %}
                {% empty %}
                    <li class="text-right list-group-item">No messages yet!</li>
                {% endfor %}
                <script>
                    var chatlist = document.getElementById('msg-list-div');
                    chatlist.scrollTop = chatlist.scrollHeight;
                </script>
            </ul>
        <form id="chat-form" method="post" action="/post/">
        <div id="chat-bottom" class="input-group" style="width: 20em;">
            <input type="text" id="chat-msg" name="chat-msg" class="form-control"/>
            <span class="input-group-btn">
                <input class="btn btn-default" id="send" type="submit" value="Send"/>
            </span>
        </div>
    </form>
        </div>
    </div>



<script src="{% static 'alpha/chat.js' %}"></script>

